 <% @base_title = "Ruby on Rails Tutorial Sample App" %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= @base_title + " | " + @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>